<nav>
  <h1>Hi.</h1>
  <a href="/">
    <!-- {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %} --> 
  </a>

  <img src="{{ site.baseurl }}image.jpeg" id="logo" alt="Blog logo"/>

  <div id="bio">
    <p>Concentration Inequalities reading group @ Cornell (Spring 2019)</p>
    <!-- <p>
      To contribute to this blog, please get in touch with Ayush Sekhari (as3663@) or Karthik Sridharan (ks999@).
    </p> -->
  </div>
  <!-- <div id="social">
    {% include social.html %}
  </div> --> 
</nav>
