<nav>
  <h1>Hi.</h1>
  <a href="/">
    <!-- {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %} --> 
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>This blog contains resources (scribes / notes / tricks, etc) for the Concentration Inequalities reading group, organized at Cornell in Spring 2019.</p>
    <p>
      To contribute to this blog, please get in touch with Ayush Sekhari (as3663@) or Karthik Sridharan (ks999@).
    </p>
  </div>
  <h3> Scribes <h3>
  <!-- <div id="social">
    {% include social.html %}
  </div> --> 
</nav>
